<div class="informacion" id="informacion">

    <h1>Visítanos en la Calle 13b # 8 - 05 Barrio el Consuelo</h1>

    <div class="info">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22503.060175080755!2d-73.37965210791586!3d5.5297661568695275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6a7dd175f96aad%3A0x4c5e9ec84dabfde4!2sIglesia%20Central%20MMM%20(Movimiento%20Misionero%20Mundial)!5e0!3m2!1ses!2sco!4v1690324174444!5m2!1ses!2sco"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        <img src="assets/img/templo.png">
    </div>

</div>