<div class="contenedor-redes" id="contenedor-redes">
    <h1>¡ Síguenos a través de Facebook, Instagram y YouTube ! <br>
        Como Impacto Comunicaciones</h1>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v17.0"
        nonce="SG2AageR"></script>

    <iframe target="_blank"
        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fimpactocomunicaciones&tabs=timeline&width=620&height=620&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
        style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

    <iframe target="_blank" src="https://www.instagram.com/impactocomunicaciones/embed" frameborder="0"></iframe>
</div>